@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary_color: #E5E5E5;
    --secondary_color: #0A3871;
    --tertiary_color: #FFFFFF;
    --quaternary_color: #000000;
    --quinary_color: #495057;

    --font_inter: "Inter"
}

/* arriba | derecha | abajo | izquierda */

* {
    padding: 0;
    margin: 0
}

body {
    background-color: var(--primary_color);
    color: var(--secondary_color);
    box-sizing: border-box
}

.header {
    padding: 40px
}

.header_logo {
    height: 48px;
}

.main_content {
    display: flex;
    gap: 80px;
    justify-content: center
}

.input_section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0 72px 0;
    /* altura header 128px */
    height: calc(100vh - (112px + 128px));
    gap: 32px;
}

.input_container_textarea {
    font-family: var(--font_inter), serif;
    color: var(--secondary_color);
    font-size: 2rem;
    background-color: var(--primary_color);
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.input_container_textarea::placeholder {
    color: var(--secondary_color);
    opacity: 1;
}

.input_instructions {
    display: flex;
    gap: 8px
}

.instructions_text {
    font-size: 0.75rem;
    font-family: var(--font_inter), serif;
    color: var(--quinary_color);
}

.input_buttons {
    margin-top: 16px;
    display: flex;
    gap: 24px;
}

.encrypt_button,
.decrypt_button {
    width: 50%;
    height: 67px;
    border-radius: 24px;
    font-size: 1rem;
    font-family: var(--font_inter), serif;
}

.encrypt_button {
    border: none;
    color: var(--tertiary_color);
    background-color: var(--secondary_color);
}

.decrypt_button {
    border: 2px solid var(--secondary_color);
    color: var(--secondary_color);
}

.information_section {
    background-color: var(--tertiary_color);
    margin: -90px 0 40px 0;
    height: calc(100vh - 80px);
    border-radius: 32px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px
}

.information_section_image {
    padding: 0 16px 0 16px;
}

.information_section_text,
.information_section_subtext {
    padding: 0 32px 0 32px;
    text-align: center;
    font-family: var(--font_inter), serif;
}

.information_section_text {
    color: var(--quaternary_color);
    font-size: 1.5rem;
    font-weight: bold;
}

.information_section_subtext {
    font-size: 1rem;
    color: var(--quinary_color);
}

.output_section {
    background-color: var(--tertiary_color);
    margin: -90px 0 40px 0;
    height: calc(100vh - 80px);
    border-radius: 32px;
    width: 25%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.output_section_text_encrypt {
    font-size: 1.5rem;
    font-family: var(--font_inter), serif;
    color: var(--quinary_color);
    margin: 32px 32px 0 32px;
}

.output_section_button_copy {
    height: 67px;
    border-radius: 24px;
    font-size: 1rem;
    font-family: var(--font_inter), serif;
    border: 2px solid var(--secondary_color);
    color: var(--secondary_color);
    margin: 0 32px 32px 32px;
}

/* arriba | derecha | abajo | izquierda */


@media (max-width: 1600px) {

    .information_section,
    .output_section
    .input_section {
        width: 35%;
    }
}

@media (max-width: 1200px) {

    .information_section,
    .output_section
    .input_section {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .main_content {
        height: 120vh;
        display: flex;
        flex-direction: column;
        gap: 80px;
        justify-content: center;
        margin: 40px;
    }

    .input_section {
        width: 100%;
        height: 50%;
        margin: 80px 0 0 0;
    }

    .information_section {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    .information_section_image {
        display: none;
    }

    .information_section_text {
        padding-top: 32px;
    }

    .information_section_subtext {
        padding-bottom: 32px;
    }

    .output_section {
        display: none;
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}

@media (max-width: 500px) {

    .main_content {
        height: auto;
        margin: 16px;
        gap: 40px;
    }

    .header {
        margin-top: 0;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .input_section {
        margin-top: 40px;
    }

    .input_buttons {
        flex-direction: column;
    }

    .encrypt_button,
    .decrypt_button {
        width: 100%;
    }

    .input_container_textarea {
        line-height: 2.5rem;
        height: calc(8 * 2rem);
    }

    .information_section {
        margin: 0;
        display: none;
    }

    .output_section_text_encrypt {
        line-height: 2rem;
    }

    .output_section {
        display: flex;
        height: auto;
        margin: 0;
    }
}